body {
    font-family: 'Open Sans', sans-serif;
    font-weight: ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.orange {
    color: #FD6E0A;
}

.btn-class {
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    color: white;
    margin-right: 10px;

}

.btn-class2 {
    background: white;

    border-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    color: #FD6E0A;

}

.header-class {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    width: 584px;
    height: 676px;

}

.ban-h2 {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.ban-h1 {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}

.ban-p {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.banner-content {
    width: 500px;
}

.about-sec {
    max-width: 1140px;
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px auto;

}

.about {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 131px 486px 41px 485px;
}

.about-des {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding: 0 150px;
}

.third-row {
    color: var(--Dark-02, #474747);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    /* 150% */
}

.row-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.what-I {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.what-des {

    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.what {
    width: 909px;
    margin: 10px auto;
}

.skill-img {

    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.skill-title {
    color: var(--Dark-01, #181818);

    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.js {
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 50px 20px;
    margin-left: 10px;
}


.skill-des {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}



.skill {
    display: flex;
    justify-content: center;


}